Repository NHSDigital/e-referrals-service-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @NHSDigital/e-referrals  will be requested for
# review when someone opens a pull request.

*  @NHSDigital/e-referrals

# For version files that are updated by dependabot we have a cut down list

/sandbox/Dockerfile @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.lock @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/pyproject.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright

[ERSSUP-80429]-[SB]-[Update documentation]-[AP]
  sandbox/src/mocks/stu3/acceptReferral/responses/ExampleResponse.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleDBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleIBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralResolvedDeferralIntendPrivateWithComment.json
  sandbox/src/mocks/stu3/changeShortlist/requests/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlist/responses/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/NoAttachments.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/WithAttachments.json
  sandbox/src/mocks/stu3/createAdviceAndGuidance/responses/ExampleRCAWithAttachments.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithMultipleDocumentReferences.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithSingleDocumentReference.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AcceptReferBookLater.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AttachmentIncluded.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/ReturnToReferrerWithAdvice.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseDbs.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/endpoints/a012-maintain-referral-letter.yaml
  specification/components/stu3/schemas/endpoints/a013-accept-referral.yaml
  specification/components/stu3/schemas/endpoints/a014-reject-referral.yaml
  specification/components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
  specification/components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
  specification/components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a036-cancel-referral.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
  specification/components/stu3/schemas/responses/changeShortlistAndSendForTriage/200Response.yaml
  specification/components/stu3/schemas/responses/maintainReferralLetter/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80437]-[AP]-[Add new attachment attributes to STU3 endpoints]-[SB]
  poetry.lock
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/AttachmentUploadedFromRCS.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/UnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceRequest/responses/WithUnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedDBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedIBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/ConvertedFromAdviceAndGuidance.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/DeferredToProvider.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithAdditionalRequirements.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithUnavailableAttachments.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/codings/AvailabilityStatus.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request-versioned.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance-versioned.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance.yaml
  specification/components/stu3/schemas/endpoints/a025-retrieve-advice-and-guidance-conversation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedBy.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedByOrganisation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedOnBehalfOf.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AvailabilityStatus.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceConversation/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceRequest/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveReferralRequest/200Response.yaml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright, @NHSDigital/e-referrals

[ERSSUP-81584]-[JW]-[Add ASI to app restricted]-[DMW]
  specification/components/stu3/schemas/endpoints/a008-retrieve-worklist.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80429]-[SB]-[Update documentation]-[AP]
  sandbox/src/mocks/stu3/acceptReferral/responses/ExampleResponse.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleDBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleIBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralResolvedDeferralIntendPrivateWithComment.json
  sandbox/src/mocks/stu3/changeShortlist/requests/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlist/responses/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/NoAttachments.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/WithAttachments.json
  sandbox/src/mocks/stu3/createAdviceAndGuidance/responses/ExampleRCAWithAttachments.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithMultipleDocumentReferences.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithSingleDocumentReference.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AcceptReferBookLater.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AttachmentIncluded.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/ReturnToReferrerWithAdvice.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseDbs.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
  sandbox/src/mocks/stu3/sendAdviceAndGuidanceResponse/responses/AttachmentIncluded.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/endpoints/a012-maintain-referral-letter.yaml
  specification/components/stu3/schemas/endpoints/a013-accept-referral.yaml
  specification/components/stu3/schemas/endpoints/a014-reject-referral.yaml
  specification/components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
  specification/components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
  specification/components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a036-cancel-referral.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
  specification/components/stu3/schemas/responses/changeShortlistAndSendForTriage/200Response.yaml
  specification/components/stu3/schemas/responses/maintainReferralLetter/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81565]-[FV]-[Added sandbox section]-[AP]
  specification/components/stu3/schemas/endpoints/a006-retrieve-attachment.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81596]-[FV]-[Update important notes]-[AP]
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-78090]-[AP]-[Make getAttachment always return something for a valid UUID]-[SB]
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  tests/sandbox/stu3/test_a006_get_attachment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-80439]-[JW/AP]-[Finalise R4 download endpoint schema, wording and examples]-[FV]
  sandbox/src/mocks/r4/requestUrlForFileDownload/example_attachment.pdf
  sandbox/src/routes/r4/retrieveBinary.js
  sandbox/src/routes/r4/retrieveBinaryHelper.js
  sandbox/src/routes/r4/retrieveBusinessFunctions.js
  sandbox/src/routes/r4/retrieveOboUsers.js
  scripts/populate_placeholders.py
  specification/components/r4/schemas/endpoints/a042-request-pre-signed-url-for-file-download.yaml
  specification/components/r4/schemas/endpoints/a042-retrieve-attachment.yaml
  specification/components/r4/schemas/headers/request/OnBehalfOfUserIDOnlyUserRestricted.yaml
  specification/components/r4/schemas/pathParameters/AttachmentUuid.yaml
  specification/components/r4/schemas/pathParameters/BinaryId.yaml
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
  specification/components/r4/schemas/responses/retrieveBinary/400Response.yaml
  specification/components/stu3/schemas/headers/response/ContentDispositionAttachment.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-61674]-[JW/AO]-[Retrieve Binary R4 API design]-[FV]
  sandbox/src/routes/index.js
  sandbox/src/routes/r4/retrieveBinary.js
  sandbox/src/routes/r4/retrieveBinaryHelper.js
  scripts/populate_placeholders.py
  scripts/validate_oas_examples.py
  specification/components/r4/schemas/endpoints/a042-request-pre-signed-url-for-file-download.yaml
  specification/components/r4/schemas/pathParameters/AttachmentUuid.yaml
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
  specification/components/r4/schemas/responses/retrieveBinary/400Response.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

refactor validation checks to common dir
  sandbox/src/routes/common/validationUtil.js
  sandbox/src/routes/r4/retrieveAttachment.js
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  sandbox/src/services/businessFunctionValidator.js
  tests/sandbox/stu3/test_a006_get_attachment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78090]-[AP]-[Make getAttachment always return something for a valid UUID]-[SB]
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  tests/sandbox/stu3/test_a006_get_attachment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-80429]-[SB]-[Update documentation]-[AP]
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
Owners: @NHSDigital/e-referrals

[ERSSUP-61674]-[JW/AO]-[Retrieve Binary R4 API design]-[FV]
  sandbox/src/routes/index.js
  sandbox/src/routes/r4/retrieveBinary.js
  sandbox/src/routes/r4/retrieveBinaryHelper.js
  scripts/populate_placeholders.py
  scripts/validate_oas_examples.py
  specification/components/r4/schemas/endpoints/a042-request-pre-signed-url-for-file-download.yaml
  specification/components/r4/schemas/pathParameters/AttachmentUuid.yaml
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
  specification/components/r4/schemas/responses/retrieveBinary/400Response.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80439]-[JW/AP]-[Finalise R4 download endpoint schema, wording and examples]-[FV]
  sandbox/src/mocks/r4/requestUrlForFileDownload/example_attachment.pdf
  sandbox/src/routes/r4/retrieveBinary.js
  sandbox/src/routes/r4/retrieveBinaryHelper.js
  sandbox/src/routes/r4/retrieveBusinessFunctions.js
  sandbox/src/routes/r4/retrieveOboUsers.js
  scripts/populate_placeholders.py
  specification/components/r4/schemas/endpoints/a042-request-pre-signed-url-for-file-download.yaml
  specification/components/r4/schemas/endpoints/a042-retrieve-attachment.yaml
  specification/components/r4/schemas/headers/request/OnBehalfOfUserIDOnlyUserRestricted.yaml
  specification/components/r4/schemas/pathParameters/AttachmentUuid.yaml
  specification/components/r4/schemas/pathParameters/BinaryId.yaml
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
  specification/components/r4/schemas/responses/retrieveBinary/400Response.yaml
  specification/components/stu3/schemas/headers/response/ContentDispositionAttachment.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

refactor validation checks to common dir
  sandbox/src/routes/common/validationUtil.js
  sandbox/src/routes/r4/retrieveAttachment.js
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  sandbox/src/services/businessFunctionValidator.js
  tests/sandbox/stu3/test_a006_get_attachment.py
Owners: @NHSDigital/e-referrals

try build url with host
  sandbox/src/routes/r4/retrieveAttachment.js
Owners: @NHSDigital/e-referrals

[ERSSUP-78090]-[AP]-[Make getAttachment always return something for a valid UUID]-[SB]
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  tests/sandbox/stu3/test_a006_get_attachment.py
Owners: @NHSDigital/e-referrals

try with policy
  proxies/sandbox/apiproxy/policies/AssignMessage.AddBaseUrlHeader.xml
  proxies/sandbox/apiproxy/targets/sandbox.xml
  sandbox/src/routes/r4/retrieveAttachment.js
Owners: @NHSDigital/e-referrals

delete tests
  tests/sandbox/r4/test_a042_get_attachment.py
  tests/sandbox/r4/test_a042_get_attachment_follow_redirection.py
Owners: @NHSDigital/e-referrals

try to fix redirection url
  proxies/sandbox/apiproxy/policies/AssignMessage.AddBaseUrlHeader.xml
  proxies/sandbox/apiproxy/targets/sandbox.xml
  sandbox/src/app.js
  sandbox/src/routes/r4/retrieveAttachment.js
  tests/sandbox/SandboxTest.py
  tests/sandbox/r4/test_a042_get_attachment.py
  tests/sandbox/r4/test_a042_get_attachment_follow_redirection.py
Owners: @NHSDigital/e-referrals

remove tests
  tests/sandbox/r4/test_a042_get_attachment.py
  tests/sandbox/r4/test_a042_get_attachment_follow_redirection.py
Owners: @NHSDigital/e-referrals

[ERSSUP-80437]-[AP]-[Add new attachment attributes to STU3 endpoints]-[SB]
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/AttachmentUploadedFromRCS.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/UnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceRequest/responses/WithUnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedDBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedIBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/ConvertedFromAdviceAndGuidance.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/DeferredToProvider.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithAdditionalRequirements.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithUnavailableAttachments.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/codings/AvailabilityStatus.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request-versioned.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance-versioned.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance.yaml
  specification/components/stu3/schemas/endpoints/a025-retrieve-advice-and-guidance-conversation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedBy.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedByOrganisation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedOnBehalfOf.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AvailabilityStatus.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceConversation/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceRequest/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveReferralRequest/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80429]-[SB]-[Update documentation]-[AP]
  sandbox/src/mocks/stu3/acceptReferral/responses/ExampleResponse.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleDBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleIBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralResolvedDeferralIntendPrivateWithComment.json
  sandbox/src/mocks/stu3/changeShortlist/requests/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlist/responses/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/NoAttachments.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/WithAttachments.json
  sandbox/src/mocks/stu3/createAdviceAndGuidance/responses/ExampleRCAWithAttachments.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithMultipleDocumentReferences.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithSingleDocumentReference.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AcceptReferBookLater.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AttachmentIncluded.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/ReturnToReferrerWithAdvice.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseDbs.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/endpoints/a012-maintain-referral-letter.yaml
  specification/components/stu3/schemas/endpoints/a013-accept-referral.yaml
  specification/components/stu3/schemas/endpoints/a014-reject-referral.yaml
  specification/components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
  specification/components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
  specification/components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a036-cancel-referral.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
  specification/components/stu3/schemas/responses/changeShortlistAndSendForTriage/200Response.yaml
  specification/components/stu3/schemas/responses/maintainReferralLetter/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-82269]-[]-[Update pyproject.toml for poetry 2.0.0 and add check to lint]-[DMW]
  Makefile
  poetry.lock
  pyproject.toml
Owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-80437]-[AP]-[Add new attachment attributes to STU3 endpoints]-[SB]
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/AttachmentUploadedFromRCS.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/UnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceRequest/responses/WithUnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedDBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedIBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/ConvertedFromAdviceAndGuidance.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/DeferredToProvider.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithAdditionalRequirements.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithUnavailableAttachments.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/codings/AvailabilityStatus.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request-versioned.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance-versioned.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance.yaml
  specification/components/stu3/schemas/endpoints/a025-retrieve-advice-and-guidance-conversation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedBy.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedByOrganisation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedOnBehalfOf.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AvailabilityStatus.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceConversation/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceRequest/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveReferralRequest/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80435]-[AP]-[RM29a: OAS changes for Retrieve Attachment]-[SB]
  specification/components/stu3/schemas/endpoints/a006-retrieve-attachment.yaml
  specification/components/stu3/schemas/responses/retrieveAttachment/422Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80429]-[SB]-[Update documentation]-[AP]
  sandbox/src/mocks/stu3/acceptReferral/responses/ExampleResponse.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleDBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleIBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralResolvedDeferralIntendPrivateWithComment.json
  sandbox/src/mocks/stu3/changeShortlist/requests/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlist/responses/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/NoAttachments.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/WithAttachments.json
  sandbox/src/mocks/stu3/createAdviceAndGuidance/responses/ExampleRCAWithAttachments.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithMultipleDocumentReferences.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithSingleDocumentReference.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AcceptReferBookLater.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AttachmentIncluded.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/ReturnToReferrerWithAdvice.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseDbs.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
  sandbox/src/mocks/stu3/sendAdviceAndGuidanceResponse/responses/AttachmentIncluded.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/endpoints/a012-maintain-referral-letter.yaml
  specification/components/stu3/schemas/endpoints/a013-accept-referral.yaml
  specification/components/stu3/schemas/endpoints/a014-reject-referral.yaml
  specification/components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
  specification/components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
  specification/components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a036-cancel-referral.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
  specification/components/stu3/schemas/responses/changeShortlistAndSendForTriage/200Response.yaml
  specification/components/stu3/schemas/responses/maintainReferralLetter/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81565]-[FV]-[Added sandbox section]-[AP]
  specification/components/stu3/schemas/endpoints/a006-retrieve-attachment.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81596]-[FV]-[Update important notes]-[AP]
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-78090]-[AP]-[Make getAttachment always return something for a valid UUID]-[SB]
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  tests/sandbox/stu3/test_a006_get_attachment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-XXXXX]-[]-[test]-[]
  README.md
Owners: @NHSDigital/e-referrals

[ERSSUP-78090]-[AP]-[Make getAttachment always return something for a valid UUID]-[SB]
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  tests/sandbox/stu3/test_a006_get_attachment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-61674]-[JW/AO]-[Retrieve Binary R4 API design]-[FV]
  sandbox/src/routes/index.js
  sandbox/src/routes/r4/retrieveBinary.js
  sandbox/src/routes/r4/retrieveBinaryHelper.js
  scripts/populate_placeholders.py
  scripts/validate_oas_examples.py
  specification/components/r4/schemas/endpoints/a042-request-pre-signed-url-for-file-download.yaml
  specification/components/r4/schemas/pathParameters/AttachmentUuid.yaml
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
  specification/components/r4/schemas/responses/retrieveBinary/400Response.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81217]-[JW]-[Development Of ERSSUP-80895 RM27a - Amend OAS documentation for A029 and A028]-[DMW]
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a029-available-actions-for-user-list.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80437]-[AP]-[Add new attachment attributes to STU3 endpoints]-[SB]
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/AttachmentUploadedFromRCS.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/UnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceRequest/responses/WithUnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedDBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedIBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/ConvertedFromAdviceAndGuidance.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/DeferredToProvider.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithAdditionalRequirements.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithUnavailableAttachments.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/codings/AvailabilityStatus.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request-versioned.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance-versioned.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance.yaml
  specification/components/stu3/schemas/endpoints/a025-retrieve-advice-and-guidance-conversation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedBy.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedByOrganisation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedOnBehalfOf.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AvailabilityStatus.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceConversation/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceRequest/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveReferralRequest/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81596]-[FV]-[Update important notes]-[AP]
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81565]-[FV]-[Added sandbox section]-[AP]
  specification/components/stu3/schemas/endpoints/a006-retrieve-attachment.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80429]-[SB]-[Update documentation]-[AP]
  sandbox/src/mocks/stu3/acceptReferral/responses/ExampleResponse.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleDBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleIBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralResolvedDeferralIntendPrivateWithComment.json
  sandbox/src/mocks/stu3/changeShortlist/requests/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlist/responses/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/NoAttachments.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/WithAttachments.json
  sandbox/src/mocks/stu3/createAdviceAndGuidance/responses/ExampleRCAWithAttachments.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithMultipleDocumentReferences.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithSingleDocumentReference.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AcceptReferBookLater.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AttachmentIncluded.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/ReturnToReferrerWithAdvice.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseDbs.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
  sandbox/src/mocks/stu3/sendAdviceAndGuidanceResponse/responses/AttachmentIncluded.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/endpoints/a012-maintain-referral-letter.yaml
  specification/components/stu3/schemas/endpoints/a013-accept-referral.yaml
  specification/components/stu3/schemas/endpoints/a014-reject-referral.yaml
  specification/components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
  specification/components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
  specification/components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a036-cancel-referral.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
  specification/components/stu3/schemas/responses/changeShortlistAndSendForTriage/200Response.yaml
  specification/components/stu3/schemas/responses/maintainReferralLetter/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80435]-[AP]-[RM29a: OAS changes for Retrieve Attachment]-[SB]
  specification/components/stu3/schemas/endpoints/a006-retrieve-attachment.yaml
  specification/components/stu3/schemas/responses/retrieveAttachment/422Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-78090]-[AP]-[Make getAttachment always return something for a valid UUID]-[SB]
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  tests/sandbox/stu3/test_a006_get_attachment.py
Owners: @NHSDigital/e-referrals
