Repository NHSDigital/e-referrals-service-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @NHSDigital/e-referrals  will be requested for
# review when someone opens a pull request.

*  @NHSDigital/e-referrals

# For version files that are updated by dependabot we have a cut down list

/sandbox/Dockerfile @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.lock @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/pyproject.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright

[ERSSUP-64283]-[NS]-[Replace speccy with redocly]-[DMW]
  package-lock.json
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-64042]-[]-[xAPI APIM - Enable self-service deployments for Referral and Patient Care]-[DMW]
  azure/azure-release-pipeline.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-61671]-[JW/AO]-[OAS modelling of request upload uri endpoint]-[FV]
  sandbox/src/mocks/r4/requestUploadUri/responses/ResponseExample.json
  sandbox/src/routes/index.js
  sandbox/src/routes/r4/requestUploadUri.js
  sandbox/src/routes/r4/services/mockResponseProvider.js
  scripts/populate_placeholders.py
  specification/components/r4/schemas/endpoints/a039-request-pre-signed-url-for-file-upload.yaml
  specification/components/r4/schemas/responses/requestUploadUri/200Response.yaml
  specification/components/r4/schemas/responses/requestUploadUri/400Response.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-61674]-[JW/AO]-[Retrieve Binary R4 API design]-[FV]
  sandbox/src/routes/index.js
  sandbox/src/routes/r4/retrieveBinary.js
  sandbox/src/routes/r4/retrieveBinaryHelper.js
  scripts/populate_placeholders.py
  scripts/validate_oas_examples.py
  specification/components/r4/schemas/endpoints/a042-request-pre-signed-url-for-file-download.yaml
  specification/components/r4/schemas/pathParameters/AttachmentUuid.yaml
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
  specification/components/r4/schemas/responses/retrieveBinary/400Response.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-64042]-[]-[xAPI APIM - Enable self-service deployments for Referral and Patient Care]-[DMW]
  azure/azure-release-pipeline.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-68034]-[NS]-[OAS Changes for Bookable Type in Healthcare Service]-[DMW]
  sandbox/src/mocks/r4/getService/responses/sampleServiceWithFullAttributes.json
  sandbox/src/mocks/r4/searchForServices/responses/searchServiceWithMaxAndMinAttributes.json
  specification/components/r4/schemas/eRS-HealthcareService.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-67912]-[]-['TRY' feature not working on test RapiDoc e-RS OAS]-[DMW]
  specification/components/stu3/schemas/endpoints/a008-retrieve-worklist.yaml
  specification/components/stu3/schemas/endpoints/a010-patient-service-search.yaml
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
  specification/components/stu3/schemas/endpoints/a012-maintain-referral-letter.yaml
  specification/components/stu3/schemas/endpoints/a014-reject-referral.yaml
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
  specification/components/stu3/schemas/endpoints/a021-create-referral-request-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
  specification/components/stu3/schemas/endpoints/a023-retrieve-a&g-worklist.yaml
  specification/components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
  specification/components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a034-update-appointment.yaml
  specification/components/stu3/schemas/endpoints/a036-cancel-referral.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-67915]-[]-[Markdown lists and tables not rendering correctly on RapiDoc e-RS OAS]-[DMW]
  specification/components/r4/schemas/eRS-HealthcareService.yaml
  specification/components/stu3/schemas/AdviceAndGuidanceCommunicationBundle.yaml
  specification/components/stu3/schemas/AppointmentSlotBundle.yaml
  specification/components/stu3/schemas/TaskBundle.yaml
  specification/components/stu3/schemas/eRS-Appointment.yaml
  specification/components/stu3/schemas/eRS-CancelReferral-Request-Parameters.yaml
  specification/components/stu3/schemas/eRS-CancelReferral-Response-Parameters.yaml
  specification/components/stu3/schemas/eRS-ChangeShortlist-Parameters.yaml
  specification/components/stu3/schemas/eRS-ChangeShortlistAndSendForTriage-Request-Parameters.yaml
  specification/components/stu3/schemas/eRS-ChangeShortlistAndSendForTriage-Response-Parameters.yaml
  specification/components/stu3/schemas/eRS-CommunicationRequest.yaml
  specification/components/stu3/schemas/eRS-CreateFromCommunicationRequestActionLater-Request-Parameters.yaml
  specification/components/stu3/schemas/eRS-CreateReferral-Parameters.yaml
  specification/components/stu3/schemas/eRS-CreateReferralAndSendForTriage-Parameters.yaml
  specification/components/stu3/schemas/eRS-FetchWorklist-List.yaml
  specification/components/stu3/schemas/eRS-FetchWorklist-Parameters.yaml
  specification/components/stu3/schemas/eRS-MaintainReferralLetter-Parameters.yaml
  specification/components/stu3/schemas/eRS-PatientServiceSearch-Parameters.yaml
  specification/components/stu3/schemas/eRS-RecordReviewOutcome-Parameters.yaml
  specification/components/stu3/schemas/eRS-ReferralRequest.yaml
  specification/components/stu3/schemas/eRS-RejectReferral-Parameters.yaml
  specification/components/stu3/schemas/eRS-SendCommunicationToRequester-Request-Parameters.yaml
  specification/components/stu3/schemas/eRS-SendCommunicationToRequester-Response-Parameters.yaml
  specification/components/stu3/schemas/eRS-ServiceSearchCriteria-Parameters.yaml
  specification/components/stu3/schemas/eRS-Shortlist-List.yaml
  specification/components/stu3/schemas/eRS-cancelAppointmentActionLater-Parameters.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-ReferralState.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-ServiceSummaryView.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-67914]-[]-[Broken internal spec links on test RapiDoc e-RS OAS]-[DMW]
  scripts/populate_placeholders.py
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-67913]-[]-[Ordering of endpoints on test RapiDoc OAS incorrect]-[DMW]
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-68426]-[]-[Alter A016 description in preparation for mixed shortlists]-[AM]
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-67509]-[AP]-[Add PreconditionFailed response]-[NS]
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-67509]-[AP]-[Add IfMatch to A028 docs]-[NS]
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-68361]-[JW]-[A020 TRY example returning 415 Unsupported Media Type]-[DMW]
  specification/components/stu3/schemas/endpoints/a020-upload-file-to-document-store.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-68461]-[JW]-[Links to external sites producing a 404]-[DMW]
  scripts/populate_placeholders.py
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-68494]-[JW]-[403 NO_RELATIONSHIP incorrectly present on eRS OAS]-[DMW]
  specification/components/r4/schemas/endpoints/a030-retrieve-business-functions.yaml
  specification/components/r4/schemas/endpoints/a035-search-for-healthcare-services.yaml
  specification/components/r4/schemas/endpoints/a037-retrieve-healthcare-service-version.yaml
  specification/components/r4/schemas/endpoints/a040-retrieve-practitioner-info.yaml
  specification/components/r4/schemas/responses/ForbiddenOrNoLR.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-68359]-[JW]-[Typo on sandbox error message]-[DMW]
  sandbox/src/services/businessFunctionValidator.js
Owners: @NHSDigital/e-referrals

[ERSSUP-68465]-[JW]-[Incorrectly lists 'HTTP status: 415' in Response]-[DMW]
  specification/components/r4/schemas/endpoints/a035-search-for-healthcare-services.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-68528]-[JW]-[Post review Changes]-[DMW]
  scripts/populate_placeholders.py
  specification/components/r4/schemas/endpoints/a030-retrieve-business-functions.yaml
  specification/components/r4/schemas/endpoints/a040-retrieve-practitioner-info.yaml
  specification/components/stu3/schemas/headers/request/ContentTypeAttachmentsUpload.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-67731]-[AO/JW]-[Test file for new test utils]-[DMW]
  package-lock.json
  pyproject.toml
  tests/conftest.py
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright, @NHSDigital/e-referrals

[ERSSUP-67731]-[AO/JW]-[Test file for new test utils]-[DMW]
  azure/templates/ers-integration-tests.yml
  package-lock.json
  poetry.lock
  pyproject.toml
  sandbox/package-lock.json
  specification/components/stu3/schemas/responses/maintainReferralLetter/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceRequest/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAppointment/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveReferralRequest/200Response.yaml
  tests/conftest.py
Owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-67731]-[]-[Review comments]-[DMW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-64283]-[AS]-[Replace Speccy with redocly]-[DMW]
  package-lock.json
  package.json
  redocly.yaml
  sandbox/package-lock.json
  specification/components/stu3/schemas/endpoints/a023-retrieve-a&g-worklist.yaml
  specification/components/stu3/schemas/responses/maintainReferralLetter/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceRequest/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceWorklist/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAppointment/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveReferralRequest/200Response.yaml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright, @NHSDigital/e-referrals

[ERSSUP-68753]-[]-[Manual upgrade of pytest-apim-nhsd and poetry lock file]-[DMW]
  poetry.lock
  pyproject.toml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-68910]-[RM]-[iERSSUP-67482 - Create Referral Wording Changes]-[DMW]
  sandbox/src/mocks/stu3/createReferral/requests/RequestMixedShortlist.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequestMixedShortlist.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
  specification/components/stu3/schemas/responses/createReferral/201Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-68910]-[AM]-[ERSSUP-67484 - Change shortlist wording change]-[DMW]
  sandbox/src/mocks/stu3/changeShortlist/requests/UnbookedReferralMixedShortlist.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferralMixedShortlist.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
Owners: @NHSDigital/e-referrals

Update e-referrals-service-api.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69282]-[TBC]-[Fix spacing ERSSUP-68809]-[NS]
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69282]-[TBC]-[Fixed links not working]-[NS]
  scripts/populate_placeholders.py
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69282]-[DW]-[Review comments]-[NS]
  scripts/populate_placeholders.py
  specification/components/r4/schemas/headers/request/BusinessFunctionOBO.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69282]-[JW]-[Fixed incorrect link]-[NS]
  scripts/populate_placeholders.py
Owners: @NHSDigital/e-referrals

[ERSSUP-69282]-[TBC]-[Fix for ERSSUP-68990]-[NS]
  specification/components/r4/schemas/endpoints/a040-retrieve-practitioner-info.yaml
  specification/components/r4/schemas/endpoints/a041-search-service-request.yaml
  specification/components/stu3/schemas/endpoints/a008-retrieve-worklist.yaml
  specification/components/stu3/schemas/endpoints/a013-accept-referral.yaml
  specification/components/stu3/schemas/endpoints/a014-reject-referral.yaml
  specification/components/stu3/schemas/endpoints/a020-upload-file-to-document-store.yaml
  specification/components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
  specification/components/stu3/schemas/endpoints/a023-retrieve-a&g-worklist.yaml
  specification/components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
  specification/components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a029-available-actions-for-user-list.yaml
  specification/components/stu3/schemas/endpoints/a038-retrieve-appointment-versioned.yaml
  specification/components/stu3/schemas/endpoints/a038-retrieve-appointment.yaml
  specification/components/stu3/schemas/headers/request/BusinessFunctionOBO.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69317]-[]-[Fix getting request examples]-[DMW]
  scripts/validate_oas_examples.py
Owners: @NHSDigital/e-referrals

[ERSSUP-69334]-[]-[ERSSUP-67504 - Book Defer Changes]-[DMW]
  sandbox/src/mocks/stu3/bookOrDeferAppointment/requests/TriageDeferral.json
  sandbox/src/mocks/stu3/bookOrDeferAppointment/responses/TriageDeferral.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
  specification/components/stu3/schemas/responses/bookOrDeferAppointment/201Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69334]-[]-[ERSSUP-67505a - Additional OAS wording content changes to support Mixed Shortlists]-[DMW]
  specification/components/stu3/schemas/endpoints/a004-retrieve-reference-data.yaml
  specification/components/stu3/schemas/endpoints/a010-patient-service-search.yaml
  specification/components/stu3/schemas/endpoints/a021-create-referral-request-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a038-retrieve-appointment.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69334]-[]-[ERSSUP-67504 - Missed changes]-[DMW]
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69334]-[]-[ERSSUP-67497 - A029 'Available Actions for Users list' OAS wording changes]-[DMW]
  specification/components/stu3/schemas/endpoints/a029-available-actions-for-user-list.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69334]-[]-[Sandbox url]-[]
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69334]-[]-[ERSSUP-67505 - Missed]-[DMW]
  specification/components/stu3/schemas/endpoints/a010-patient-service-search.yaml
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
  specification/components/stu3/schemas/endpoints/a021-create-referral-request-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  tests/sandbox/stu3/test_a016_book_or_defer_appointment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-69887]-[]-[Fix urllib incompatibility on dev VM]-[DMW]
  scripts/rhel_setup_environment.sh
Owners: @NHSDigital/e-referrals
