Repository NHSDigital/e-referrals-service-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-80635]-[]-[Check for body in 403 response]-[DMW]
  tests/asserts.py
  tests/integration/test_app_restricted.py
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[Update to look at master api-management-utils]-[DMW]
  azure/azure-build-pipeline.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[Upgrade to python 3.12]-[DMW]
  .github/workflows/continous-integration-workflow.yaml
  scripts/ubuntu_setup_environment.sh
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[Update python project variable]-[DMW]
  azure/azure-build-pipeline.yml
  azure/azure-pr-pipeline.yml
  azure/project.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[trying 3.10]-[]
  .github/workflows/continous-integration-workflow.yaml
  azure/azure-pr-pipeline.yml
  azure/project.yml
  poetry.lock
  pyproject.toml
  scripts/ubuntu_setup_environment.sh
Owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-76481]-[]-[point at master branch]-[DMW]
  azure/azure-pr-pipeline.yml
  azure/azure-release-pipeline.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-61674]-[JW/AO]-[Retrieve Binary R4 API design]-[FV]
  sandbox/src/routes/index.js
  sandbox/src/routes/r4/retrieveBinary.js
  sandbox/src/routes/r4/retrieveBinaryHelper.js
  scripts/populate_placeholders.py
  scripts/validate_oas_examples.py
  specification/components/r4/schemas/endpoints/a042-request-pre-signed-url-for-file-download.yaml
  specification/components/r4/schemas/pathParameters/AttachmentUuid.yaml
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
  specification/components/r4/schemas/responses/retrieveBinary/400Response.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

updates to initial modelling
  sandbox/src/routes/r4/retrieveBinary.js
  specification/components/r4/schemas/endpoints/a042-request-pre-signed-url-for-file-download.yaml
  specification/components/r4/schemas/headers/request/OnBehalfOfUserIDOnlyUserRestricted.yaml
  specification/components/r4/schemas/pathParameters/AttachmentUuid.yaml
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
  specification/components/r4/schemas/responses/retrieveBinary/400Response.yaml
Owners: @NHSDigital/e-referrals

wip
  Makefile
  sandbox/src/routes/r4/example_attachment.pdf
  sandbox/src/routes/r4/retrieveBinaryHelper.js
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[Added release pipeline]-[DMW]
  azure/azure-release-pipeline.yml
Owners: @NHSDigital/e-referrals

sandbox working
  sandbox/src/mocks/r4/requestUrlForFileDownload/example_attachment.pdf
  sandbox/src/routes/r4/retrieveBinaryHelper.js
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[Update macos update scripts]-[DMW]
  scripts/macos_setup_environment.sh
Owners: @NHSDigital/e-referrals

[ERSSUP-]-[]-[test changes for testing commit hook]-[JW]
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[JW]-[Upgrade to python 3.10]-[DMW]
  .github/workflows/continous-integration-workflow.yaml
  README.md
  azure/azure-build-pipeline.yml
  azure/azure-pr-pipeline.yml
  azure/azure-release-pipeline.yml
  azure/project.yml
  poetry.lock
  pyproject.toml
  scripts/macos_setup_environment.sh
  scripts/ubuntu_setup_environment.sh
  tests/conftest.py
Owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-81149]-[]-[Upgrade python to version 3.12]-[DMW]
  .github/workflows/continous-integration-workflow.yaml
  azure/project.yml
  poetry.lock
  pyproject.toml
  scripts/ubuntu_setup_environment.sh
Owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-80435]-[]-[RM29a: OAS changes for Retrieve Attachment]-[SB]
  specification/components/stu3/schemas/endpoints/a006-retrieve-attachment.yaml
  specification/components/stu3/schemas/responses/retrieveAttachment/422Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80797]-[DMW]-[Updated Appointment Cancellation Reason to reference 'Patient is ill' rather than 'Patient is sick']-[JW]
  sandbox/src/mocks/stu3/getCodeSystem/responses/AppointmentCancellationReasonCodeSystem.json
Owners: @NHSDigital/e-referrals

[ERSSUP-61674]-[JW/AO]-[Retrieve Binary R4 API design]-[FV]
  sandbox/src/routes/index.js
  sandbox/src/routes/r4/retrieveBinary.js
  sandbox/src/routes/r4/retrieveBinaryHelper.js
  scripts/populate_placeholders.py
  scripts/validate_oas_examples.py
  specification/components/r4/schemas/endpoints/a042-request-pre-signed-url-for-file-download.yaml
  specification/components/r4/schemas/pathParameters/AttachmentUuid.yaml
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
  specification/components/r4/schemas/responses/retrieveBinary/400Response.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

sandbox working
  sandbox/src/mocks/r4/requestUrlForFileDownload/example_attachment.pdf
  sandbox/src/routes/r4/retrieveBinaryHelper.js
Owners: @NHSDigital/e-referrals

updates to initial modelling
  sandbox/src/routes/r4/retrieveBinary.js
  specification/components/r4/schemas/endpoints/a042-request-pre-signed-url-for-file-download.yaml
  specification/components/r4/schemas/headers/request/OnBehalfOfUserIDOnlyUserRestricted.yaml
  specification/components/r4/schemas/pathParameters/AttachmentUuid.yaml
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
  specification/components/r4/schemas/responses/retrieveBinary/400Response.yaml
Owners: @NHSDigital/e-referrals

some fixes
  Makefile
  specification/components/r4/schemas/responses/retrieveBinary/307Response.yaml
Owners: @NHSDigital/e-referrals

wip
  Makefile
  sandbox/src/routes/r4/example_attachment.pdf
  sandbox/src/routes/r4/retrieveBinaryHelper.js
Owners: @NHSDigital/e-referrals

[ERSSUP-80433]-[]-[Adding extensions]-[AP]
  sandbox/src/mocks/stu3/acceptReferral/responses/ExampleResponse.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleDBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleIBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralResolvedDeferralIntendPrivateWithComment.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/NoAttachments.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/WithAttachments.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithMultipleDocumentReferences.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AcceptReferBookLater.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AttachmentIncluded.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/ReturnToReferrerWithAdvice.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseDbs.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/AttachmentPresentInEachDirection.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/AttachmentUploadedFromRCS.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceRequest/responses/WithAttachmentFileReference.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedDBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedIBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/ConvertedFromAdviceAndGuidance.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/DeferredToProvider.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/Unbooked.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithAdditionalRequirements.json
  sandbox/src/mocks/stu3/sendAdviceAndGuidanceResponse/responses/AttachmentIncluded.json
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedBy.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedByOrganisation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedOnBehalfOf.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AvailabilityStatus.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81151]-[]-[Set package mode false]-[DMW]
  pyproject.toml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-80437]-[]-[Add new attachment attributes to STU3 endpoints]-[SB]
  poetry.lock
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/AttachmentUploadedFromRCS.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/UnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceRequest/responses/WithUnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedDBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedIBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/ConvertedFromAdviceAndGuidance.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/DeferredToProvider.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithAdditionalRequirements.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithUnavailableAttachments.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/codings/AvailabilityStatus.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request-versioned.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance-versioned.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance.yaml
  specification/components/stu3/schemas/endpoints/a025-retrieve-advice-and-guidance-conversation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedBy.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedByOrganisation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedOnBehalfOf.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AvailabilityStatus.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceConversation/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceRequest/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveReferralRequest/200Response.yaml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright, @NHSDigital/e-referrals

[ERSSUP-80429]-[]-[Update documentation]-[AP]
  specification/components/stu3/schemas/endpoints/a012-maintain-referral-letter.yaml
  specification/components/stu3/schemas/endpoints/a013-accept-referral.yaml
  specification/components/stu3/schemas/endpoints/a014-reject-referral.yaml
  specification/components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
  specification/components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
  specification/components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a036-cancel-referral.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81413]-[]-[RM27b - OAS modelling for End Triage Reasons]-[DMW]
  sandbox/src/mocks/stu3/getCodeSystem/responses/ReferralCancellationReasonCodeSystem.json
  specification/components/stu3/schemas/CodeSystemConcept.yaml
  specification/components/stu3/schemas/CodeSystemProperties.yaml
  specification/components/stu3/schemas/codings/RequestCancellationProviderUsage.yaml
  specification/components/stu3/schemas/properties/ProviderUsage.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81431]-[]-[Refactor Worklists before update]-[DMW]
  specification/components/stu3/schemas/eRS-FetchWorklist-List.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AdviceAndGuidanceRequests-WorkListItem.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AppointmentSlotIssues-WorkListItem.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AssessmentReturnedCancelledDna-WorklistItem.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AwaitingBooking-WorklistItem.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-LettersOutstanding-WorklistItem.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-ReferralsforReview-WorkListItem.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-RejectedTriageResponse-WorkListItem.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-AdviceFirstRequested.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-AdviceLastUpdated.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-AllocatedClinician.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-AppointmentCancellationReason.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-AppointmentStart.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-Category.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-ClinicalInfoFirstSubmitted.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-ClinicalInfoLastUpdated.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-ClinicalInformationStatus.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-LastContact.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-LetterDue.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-NamedClinicianReference.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-PatientContactExpected.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-PatientReference.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-ReferralCancellationReason.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-ReferralPathwayStart.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-ReferralType.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-RequestContextStatus.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-ReviewReason.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-UbrnReceived.yaml
  specification/components/stu3/schemas/parameters/BookingReasons.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81432]-[]-[Fetch Appointments for booking worklist OAS changes]-[DMW]
  sandbox/src/mocks/stu3/retrieveWorklist/requests/AppointmentsForBookingWithReason.json
  sandbox/src/mocks/stu3/retrieveWorklist/responses/AppointmentsForBooking.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/eRS-FetchWorklist-List.yaml
  specification/components/stu3/schemas/eRS-FetchWorklist-Parameters.yaml
  specification/components/stu3/schemas/endpoints/a008-retrieve-worklist.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AppointmentsForBooking-WorklistItem.yaml
  specification/components/stu3/schemas/extensions/worklists/Extension-WorklistItem-BookingReason.yaml
  specification/components/stu3/schemas/parameters/BookingReasons.yaml
  specification/components/stu3/schemas/parameters/ListType.yaml
  specification/components/stu3/schemas/responses/retrieveWorklist/200Response.yaml
  specification/e-referrals-service-api.yaml
  tests/sandbox/stu3/test_a008_get_referral_worklist.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78090]-[AP]-[Make getAttachment always return something for a valid UUID]-[SB]
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  tests/sandbox/stu3/test_a006_get_attachment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-77272]-[JW]-[Remove warning for tag description]-[DMW]
  redocly.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80429]-[SB]-[Update documentation]-[AP]
  sandbox/src/mocks/stu3/acceptReferral/responses/ExampleResponse.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleDBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleIBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralResolvedDeferralIntendPrivateWithComment.json
  sandbox/src/mocks/stu3/changeShortlist/requests/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlist/responses/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/NoAttachments.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/WithAttachments.json
  sandbox/src/mocks/stu3/createAdviceAndGuidance/responses/ExampleRCAWithAttachments.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithMultipleDocumentReferences.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithSingleDocumentReference.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AcceptReferBookLater.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AttachmentIncluded.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/ReturnToReferrerWithAdvice.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseDbs.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/endpoints/a012-maintain-referral-letter.yaml
  specification/components/stu3/schemas/endpoints/a013-accept-referral.yaml
  specification/components/stu3/schemas/endpoints/a014-reject-referral.yaml
  specification/components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
  specification/components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
  specification/components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a036-cancel-referral.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
  specification/components/stu3/schemas/responses/changeShortlistAndSendForTriage/200Response.yaml
  specification/components/stu3/schemas/responses/maintainReferralLetter/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80429]-[SB]-[Update documentation]-[AP]
  sandbox/src/mocks/stu3/acceptReferral/responses/ExampleResponse.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleDBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleIBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralResolvedDeferralIntendPrivateWithComment.json
  sandbox/src/mocks/stu3/changeShortlist/requests/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlist/responses/NonMixedShortlistWithDocument.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/NoAttachments.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/WithAttachments.json
  sandbox/src/mocks/stu3/createAdviceAndGuidance/responses/ExampleRCAWithAttachments.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithMultipleDocumentReferences.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithSingleDocumentReference.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AcceptReferBookLater.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AttachmentIncluded.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/ReturnToReferrerWithAdvice.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseDbs.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/endpoints/a012-maintain-referral-letter.yaml
  specification/components/stu3/schemas/endpoints/a013-accept-referral.yaml
  specification/components/stu3/schemas/endpoints/a014-reject-referral.yaml
  specification/components/stu3/schemas/endpoints/a022-cancel-appointment-action-later.yaml
  specification/components/stu3/schemas/endpoints/a026-send-a&g-response.yaml
  specification/components/stu3/schemas/endpoints/a027-convert-a&g-to-referral.yaml
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a036-cancel-referral.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
  specification/components/stu3/schemas/responses/changeShortlistAndSendForTriage/200Response.yaml
  specification/components/stu3/schemas/responses/maintainReferralLetter/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-80437]-[AP]-[Add new attachment attributes to STU3 endpoints]-[SB]
  poetry.lock
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/AttachmentUploadedFromRCS.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceConversation/UnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveAdviceAndGuidanceRequest/responses/WithUnavailableAttachments.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedDBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedIBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/ConvertedFromAdviceAndGuidance.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/DeferredToProvider.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithAdditionalRequirements.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithUnavailableAttachments.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/DocumentReference.yaml
  specification/components/stu3/schemas/codings/AvailabilityStatus.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request-versioned.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance-versioned.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance.yaml
  specification/components/stu3/schemas/endpoints/a025-retrieve-advice-and-guidance-conversation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedBy.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedByOrganisation.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AttachedOnBehalfOf.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-AvailabilityStatus.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceConversation/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveAdviceAndGuidanceRequest/200Response.yaml
  specification/components/stu3/schemas/responses/retrieveReferralRequest/200Response.yaml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright, @NHSDigital/e-referrals

[ERSSUP-81217]-[JW]-[Development Of ERSSUP-80895 RM27a - Amend OAS documentation for A029 and A028]-[DMW]
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a029-available-actions-for-user-list.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-XXXXX]-[]-[Attempt to fix callback url error]-[DMW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

Revert "[ERSSUP-81217]-[]-[Development Of ERSSUP-80895 RM27a - Amend OAS docu…"
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a029-available-actions-for-user-list.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81947]-[]-[Revert ERSSUP-81217 Development Of ERSSUP-80895 RM27a - Amend OAS documentation for A029 and A028]-[DMW]
  specification/components/stu3/schemas/endpoints/a028-record-triage-outcome.yaml
  specification/components/stu3/schemas/endpoints/a029-available-actions-for-user-list.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-81420]-[FV]-[Create OpenAPI object and then reuse object to run validation]-[AP]
  scripts/validate_oas_examples.py
Owners: @NHSDigital/e-referrals

[ERSSUP-80435]-[AP]-[RM29a: OAS changes for Retrieve Attachment]-[SB]
  specification/components/stu3/schemas/endpoints/a006-retrieve-attachment.yaml
  specification/components/stu3/schemas/responses/retrieveAttachment/422Response.yaml
Owners: @NHSDigital/e-referrals

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @NHSDigital/e-referrals  will be requested for
# review when someone opens a pull request.

*  @NHSDigital/e-referrals

# For version files that are updated by dependabot we have a cut down list

/sandbox/Dockerfile @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.lock @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/pyproject.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
