Repository NHSDigital/e-referrals-service-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @NHSDigital/e-referrals  will be requested for
# review when someone opens a pull request.

*  @NHSDigital/e-referrals

# For version files that are updated by dependabot we have a cut down list

/sandbox/Dockerfile @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.lock @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/pyproject.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright

[ERSSUP-69331]-[]-[Fixed annotations for latests pytest_asyncio]-[DMW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-69317]-[]-[Fix getting request examples]-[DMW]
  scripts/validate_oas_examples.py
Owners: @NHSDigital/e-referrals

[ERSSUP-69317]-[]-[Update Validator to latest library]-[DMW]
  scripts/rhel_setup_environment.sh
  scripts/validate_oas_examples.py
Owners: @NHSDigital/e-referrals

[ERSSUP-69733]-[]-[Added initial build container]-[JW]
  Makefile
  docker/build-container/Dockerfile
  docker/build-container/Makefile
  docker/build-container/resources/requirements.txt
Owners: @NHSDigital/e-referrals

[ERSSUP-69733]-[]-[Added npm to build container and added support for initial make targets (lint, publish, clean, etc)]-[JW]
  Makefile
  docker/build-container/Dockerfile
  docker/build-container/Makefile
Owners: @NHSDigital/e-referrals

[ERSSUP-69733]-[]-[Added support for make serve target.]-[JW]
  docker/build-container/Dockerfile
  docker/build-container/Makefile
  package.json
Owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-69733]-[]-[Added support for make file being executed inside or outside of container]-[JW]
  Makefile
  docker/build-container/Makefile
  scripts/format_changes.sh
  scripts/pre-commit
Owners: @NHSDigital/e-referrals

[ERSSUP-69733]-[]-[Added docker network allowing build container to access sandbox container.]-[JW]
  Makefile
  docker/build-container/Dockerfile
  docker/build-container/Makefile
  docker/build-container/resources/docker-entrypoint.sh
  sandbox/Makefile
Owners: @NHSDigital/e-referrals

[ERSSUP-69733]-[]-[Sandbox test fixes.]-[JW]
  docker/build-container/Makefile
  sandbox/src/app.js
  tests/sandbox/SandboxTest.py
  tests/sandbox/conftest.py
  tests/sandbox/stu3/test_a008_get_referral_worklist.py
  tests/sandbox/stu3/test_a021_create_referral_send_for_triage.py
Owners: @NHSDigital/e-referrals

[ERSSUP-70017]-[AO/JW]-[APIM - Update README - Only e-RS team merges PRs]-[DMW]
  README.md
Owners: @NHSDigital/e-referrals

[ERSSUP-70260]-[]-[Remove Strict-Transport-Security header from Sandbox and Test]-[RG]
  sandbox/src/app.js
  tests/asserts.py
Owners: @NHSDigital/e-referrals

[ERSSUP-70260]-[JW]-[Remove Strict-Transport-Security Header from Sandbox Response and Test]-[RG]
  sandbox/src/app.js
  tests/asserts.py
Owners: @NHSDigital/e-referrals

[ERSSUP-67516]-[JW]-[Updated API document for 423 Locked Response]-[RG]
  specification/components/stu3/schemas/responses/Locked.yaml
Owners: @NHSDigital/e-referrals

test signed commit
  README.md
Owners: @NHSDigital/e-referrals

Testing commit verification.
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-DW]-[]-[Test signed commit]-[]
  README.md
Owners: @NHSDigital/e-referrals

test commit
  README.md
Owners: @NHSDigital/e-referrals

[ERSSUP-70289]-[]-[Update APIM setup scripts to run against WSL]-[DMW]
  Makefile
  scripts/ubuntu_clean_environment.sh
  scripts/ubuntu_setup_environment.sh
Owners: @NHSDigital/e-referrals

test gpg
  README.md
Owners: @NHSDigital/e-referrals

[ERSSUP-70944]-[]-[remove empty homepage from pyproject.toml]-[DMW]
  pyproject.toml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-68876/70358]-[JW]-[Fix for 68876 and 70358]-[NS]
  specification/components/r4/schemas/endpoints/a037-retrieve-healthcare-service-version.yaml
  specification/components/stu3/schemas/queryParameters/Status.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-70290]-[DW]-[Added support for MacOS to setup and cleanup scripts]-[JW]
  Makefile
  sandbox/src/app.js
  scripts/macos_clean_environment.sh
  scripts/macos_setup_environment.sh
  tests/data.py
  tests/sandbox/SandboxTest.py
  tests/sandbox/stu3/test_a008_get_referral_worklist.py
  tests/sandbox/stu3/test_a021_create_referral_send_for_triage.py
Owners: @NHSDigital/e-referrals

Update e-referrals-service-api.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

Update e-referrals-service-api.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-70212]-[]-[Update pytest-nhsd-apim and dependencies]-[DMW]
  poetry.lock
  pyproject.toml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-70212]-[]-[Manually update openapi-core]-[DMW]
  poetry.lock
  pyproject.toml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-65884]-[]-[Upgrade node version]-[DMW]
  sandbox/Dockerfile
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-72310]-[AO]-[Update OAS files to remove Beta status]-[DMW]
  scripts/populate_placeholders.py
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-72310]-[AO]-[Replace unicode characters with ascii counterparts]-[FV]
  sandbox/src/mocks/stu3/getCodeSystem/responses/AppointmentCancellationReasonCodeSystem.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/AppointmentNonAttendanceReasonCodeSystem.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/ClinicTypeCodeSystem.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/PriorityCodeSystem.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/ReferralCancellationReasonCodeSystem.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/SpecialtyCodeSystem.json
  specification/components/r4/schemas/endpoints/a040-retrieve-practitioner-info.yaml
  specification/components/stu3/schemas/CodeSystem.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-71856]-[]-[Decode ID token and set IAL claim as a new header]-[PF]
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-id-assurance-level-header.xml
  proxies/live/apiproxy/policies/DecodeJWT.id_token.xml
  proxies/live/apiproxy/targets/ers-target.xml
Owners: @NHSDigital/e-referrals

[ERSSUP-72719]-[AO/JW]-[Remove Binary endpoint specific rate limiting]-[DMW]
  proxies/live/apiproxy/policies/AssignMessage.SetBinaryRateLimitIdentifier.xml
  proxies/live/apiproxy/policies/Quota.Binary.xml
  proxies/live/apiproxy/policies/SpikeArrest.Binary.xml
  proxies/live/apiproxy/policies/javascript.IsBinaryPath.xml
  proxies/live/apiproxy/resources/jsc/IsBinaryPath.js
  proxies/live/apiproxy/targets/ers-target.xml
Owners: @NHSDigital/e-referrals

[ERSSUP-72722]-[AO/JW]-[OAS changes for increasing Binary endpoint rate limit]-[DMW]
  specification/components/r4/schemas/responses/TooManyRequests.yaml
  specification/components/stu3/schemas/responses/TooManyRequests.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-71856]-[]-[Try simplifying the name of the DecodeJWT policy to see if it fixes the unresolved variable problem]-[PF]
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-id-assurance-level-header.xml
  proxies/live/apiproxy/policies/DecodeJWT-id-token.xml
  proxies/live/apiproxy/targets/ers-target.xml
Owners: @NHSDigital/e-referrals

[ERSSUP-69334]-[AM]-[ERSSUP-67504 - Book Defer Changes]-[DMW]
  sandbox/src/mocks/stu3/bookOrDeferAppointment/requests/TriageDeferral.json
  sandbox/src/mocks/stu3/bookOrDeferAppointment/responses/TriageDeferral.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/endpoints/a004-retrieve-reference-data.yaml
  specification/components/stu3/schemas/endpoints/a010-patient-service-search.yaml
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
  specification/components/stu3/schemas/endpoints/a021-create-referral-request-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a029-available-actions-for-user-list.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a038-retrieve-appointment.yaml
  specification/components/stu3/schemas/responses/bookOrDeferAppointment/201Response.yaml
  tests/sandbox/stu3/test_a016_book_or_defer_appointment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-68910]-[RM]-[iERSSUP-67482 - Create Referral Wording Changes]-[DMW]
  sandbox/src/mocks/stu3/changeShortlist/requests/UnbookedReferralMixedShortlist.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferralMixedShortlist.json
  sandbox/src/mocks/stu3/createReferral/requests/RequestMixedShortlist.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequestMixedShortlist.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
  specification/components/stu3/schemas/responses/createReferral/201Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-68910]-[RM]-[ERSSUP-67482 - Create Referral Wording Changes]-[DMW]
  sandbox/src/mocks/stu3/changeShortlist/requests/UnbookedReferralMixedShortlist.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferralMixedShortlist.json
  sandbox/src/mocks/stu3/createReferral/requests/RequestMixedShortlist.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequestMixedShortlist.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
  specification/components/stu3/schemas/responses/createReferral/201Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-69334]-[AM]-[ERSSUP-67504 - Book Defer Changes]-[DMW]
  sandbox/src/mocks/stu3/bookOrDeferAppointment/requests/TriageDeferral.json
  sandbox/src/mocks/stu3/bookOrDeferAppointment/responses/TriageDeferral.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/endpoints/a004-retrieve-reference-data.yaml
  specification/components/stu3/schemas/endpoints/a010-patient-service-search.yaml
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
  specification/components/stu3/schemas/endpoints/a021-create-referral-request-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a029-available-actions-for-user-list.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a038-retrieve-appointment.yaml
  specification/components/stu3/schemas/responses/bookOrDeferAppointment/201Response.yaml
  tests/sandbox/stu3/test_a016_book_or_defer_appointment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-71856]-[]-[Add headers for acr and amr too]-[PF]
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-acr-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-amr-header.xml
  proxies/live/apiproxy/targets/ers-target.xml
Owners: @NHSDigital/e-referrals

[ERSSUP-71856]-[]-[Experiment to determine variable names]-[PF]
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-amr-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-amr-notdecoded-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-id-assurance-level-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-id-assurance-level-hyphen-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-id-assurance-level-nospace-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-id-assurance-level-underscore-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-payload-claim-names-header.xml
  proxies/live/apiproxy/targets/ers-target.xml
Owners: @NHSDigital/e-referrals

[ERSSUP-68910]-[RM]-[ERSSUP-67482 - Create Referral Wording Changes]-[DMW]
  sandbox/src/mocks/stu3/changeShortlist/requests/UnbookedReferralMixedShortlist.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferralMixedShortlist.json
  sandbox/src/mocks/stu3/createReferral/requests/RequestMixedShortlist.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequestMixedShortlist.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/responses/changeShortlist/200Response.yaml
  specification/components/stu3/schemas/responses/createReferral/201Response.yaml
Owners: @NHSDigital/e-referrals
