Repository NHSDigital/e-referrals-service-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @NHSDigital/e-referrals  will be requested for
# review when someone opens a pull request.

*  @NHSDigital/e-referrals

# For version files that are updated by dependabot we have a cut down list

/sandbox/Dockerfile @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.lock @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/pyproject.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright

[ERSSUP-69334]-[AM]-[ERSSUP-67504 - Book Defer Changes]-[DMW]
  sandbox/src/mocks/stu3/bookOrDeferAppointment/requests/TriageDeferral.json
  sandbox/src/mocks/stu3/bookOrDeferAppointment/responses/TriageDeferral.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/endpoints/a004-retrieve-reference-data.yaml
  specification/components/stu3/schemas/endpoints/a010-patient-service-search.yaml
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
  specification/components/stu3/schemas/endpoints/a021-create-referral-request-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a029-available-actions-for-user-list.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a038-retrieve-appointment.yaml
  specification/components/stu3/schemas/responses/bookOrDeferAppointment/201Response.yaml
  tests/sandbox/stu3/test_a016_book_or_defer_appointment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-71856]-[]-[2nd experiment with variables and claim names]-[PF]
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-amr-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-amr-jwt-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-amr-notdecoded-header.xml
  proxies/live/apiproxy/targets/ers-target.xml
Owners: @NHSDigital/e-referrals

[ERSSUP-73795]-[]-[RM35 MIxed Shortlist Fixes]-[DMW]
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a038-retrieve-appointment.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-73795]-[]-[RM35 MIxed Shortlist Fixes]-[DMW]
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
  specification/components/stu3/schemas/endpoints/a016-book-or-defer-appointment.yaml
  specification/components/stu3/schemas/endpoints/a031-change-shortlist.yaml
  specification/components/stu3/schemas/endpoints/a032-change-shortlist-and-send-for-triage.yaml
  specification/components/stu3/schemas/endpoints/a038-retrieve-appointment.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-71856]-[]-[Add asserts for new headers to existing header test]-[PF]
  tests/integration/test_headers.py
Owners: @NHSDigital/e-referrals

[ERSSUP-71856]-[]-[Correct IAL header name]-[PF]
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-acr-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-amr-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-id-assurance-level-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-id-assurance-level-underscore-header.xml
  proxies/live/apiproxy/targets/ers-target.xml
Owners: @NHSDigital/e-referrals

[ERSSUP-71856]-[]-[Fix test by temporarily commenting out failing IAL header assert]-[PF]
  tests/integration/test_headers.py
Owners: @NHSDigital/e-referrals

[ERSSUP-60605]-[TBC]-[Missing fields in examples]-[NS]
  sandbox/src/mocks/stu3/bookOrDeferAppointment/responses/MinimalDeferral.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledBookedReferralReferrerCancellation.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/WithAttachments.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/ClinicTypeCodeSystem.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/SpecialtyCodeSystem.json
Owners: @NHSDigital/e-referrals

[ERSSUP-71856]-[]-[Update API docs address]-[PF]
  azure/project.yml
  specification/e-referrals-service-api.yaml
  terraform/main.tf
Owners: @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Added initial draft specification for create advice endpoint]-[JW]
  sandbox/Dockerfile
  sandbox/Makefile
  sandbox/src/mocks/stu3/createAdvice/requests/ExampleAdvice.json
  sandbox/src/mocks/stu3/createAdvice/responses/ExampleAdvice.json
  sandbox/src/mocks/stu3/patientServiceSearch/responses/FetchServiceListWithMultipleServices.json
  sandbox/src/routes/index.js
  sandbox/src/routes/stu3/createAdvice.js
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  scripts/validate_oas_examples.py
  specification/components/stu3/schemas/eRS-CreateAdvice-Request-Parameters.yaml
  specification/components/stu3/schemas/eRS-CreateAdvice-Response-Parameters.yaml
  specification/components/stu3/schemas/eRS-SendCommunicationToRequester-Request-Parameters.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice.yaml
  specification/components/stu3/schemas/parameters/Guidance.yaml
  specification/components/stu3/schemas/parameters/GuidanceAttachmentFile.yaml
  specification/components/stu3/schemas/parameters/ProviderConversionAuthorisation.yaml
  specification/components/stu3/schemas/responses/createAdvice/200Response.yaml
  specification/e-referrals-service-api.yaml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright, @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Added sandbox integration test for Create Advice endpoint]-[JW]
  sandbox/src/mocks/stu3/createAdvice/responses/ExampleAdvice.json
  tests/sandbox/conftest.py
  tests/sandbox/stu3/test_a044_create_advice.py
Owners: @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Minor TA review comments]-[JW]
  sandbox/src/mocks/stu3/createAdvice/requests/ExampleAdvice.json
  sandbox/src/mocks/stu3/createAdvice/responses/ExampleAdvice.json
  sandbox/src/mocks/stu3/patientServiceSearch/requests/RcSearchForAdviceService.json
  sandbox/src/mocks/stu3/patientServiceSearch/responses/AdviceServiceSearch.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/eRS-CreateAdvice-Request-Parameters.yaml
  specification/components/stu3/schemas/endpoints/a010-patient-service-search.yaml
  specification/components/stu3/schemas/parameters/Request.yaml
  specification/components/stu3/schemas/parameters/RequestAttachmentFile.yaml
  specification/components/stu3/schemas/parameters/RequestType.yaml
  tests/sandbox/stu3/test_a010_patient_service_search.py
Owners: @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Minor peer review comments]-[JW]
  sandbox/src/mocks/stu3/createAdvice/requests/ExampleAdvice.json
  sandbox/src/mocks/stu3/createAdvice/responses/ExampleAdvice.json
Owners: @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Added initial overview text for Create Advice endpoint]-[JW]
  specification/components/stu3/schemas/endpoints/a044-create-advice.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-72901]-[DW]-[Update gender/sex wording]-[AST]
  specification/components/stu3/schemas/eRS-ServiceSearchCriteria-Parameters.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-ServiceSummaryView.yaml
  specification/components/stu3/schemas/parameters/AgeAndGenderAppropriate.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-74426]-[]-[PR to test binary rate limiting]-[DMW]
  README.md
Owners: @NHSDigital/e-referrals

test
  README.md
Owners: @NHSDigital/e-referrals

[ERSSUP-60605]-[JW]-[Include common properties]-[NS]
  sandbox/src/mocks/stu3/bookOrDeferAppointment/requests/MinimalDeferral.json
  sandbox/src/mocks/stu3/bookOrDeferAppointment/responses/MinimalDeferral.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledBookedReferralReferrerCancellation.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/requests/MinimalRequest.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/convertAdviceAndGuidanceToReferral/responses/WithAttachments.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/ClinicTypeCodeSystem.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/SpecialtyCodeSystem.json
Owners: @NHSDigital/e-referrals

test commit
  README.md
Owners: @NHSDigital/e-referrals

[ERSSUP-71856]-[DW]-[RM65a Pro API: Add HTTP headers for IAL and other CIS2 claims, for logging]-[PF]
  azure/project.yml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-acr-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-amr-header.xml
  proxies/live/apiproxy/policies/AssignMessage.Set.x-ers-id-assurance-level-header.xml
  proxies/live/apiproxy/policies/DecodeJWT-id-token.xml
  proxies/live/apiproxy/targets/ers-target.xml
  specification/e-referrals-service-api.yaml
  terraform/main.tf
  tests/integration/test_headers.py
Owners: @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Added initial overview text for Create Advice endpoint]-[JW]
  specification/components/stu3/schemas/endpoints/a044-create-advice.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Minor TA review comments]-[JW]
  sandbox/src/mocks/stu3/createAdvice/requests/ExampleAdvice.json
  sandbox/src/mocks/stu3/createAdvice/responses/ExampleAdvice.json
  sandbox/src/mocks/stu3/patientServiceSearch/requests/RcSearchForAdviceService.json
  sandbox/src/mocks/stu3/patientServiceSearch/responses/AdviceServiceSearch.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/eRS-CreateAdvice-Request-Parameters.yaml
  specification/components/stu3/schemas/endpoints/a010-patient-service-search.yaml
  specification/components/stu3/schemas/parameters/Request.yaml
  specification/components/stu3/schemas/parameters/RequestAttachmentFile.yaml
  specification/components/stu3/schemas/parameters/RequestType.yaml
  tests/sandbox/stu3/test_a010_patient_service_search.py
Owners: @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Minor peer review comments]-[JW]
  sandbox/src/mocks/stu3/createAdvice/requests/ExampleAdvice.json
  sandbox/src/mocks/stu3/createAdvice/responses/ExampleAdvice.json
Owners: @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Added initial draft specification for create advice endpoint]-[JW]
  sandbox/Dockerfile
  sandbox/Makefile
  sandbox/src/mocks/stu3/createAdvice/requests/ExampleAdvice.json
  sandbox/src/mocks/stu3/createAdvice/responses/ExampleAdvice.json
  sandbox/src/mocks/stu3/patientServiceSearch/responses/FetchServiceListWithMultipleServices.json
  sandbox/src/routes/index.js
  sandbox/src/routes/stu3/createAdvice.js
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  scripts/validate_oas_examples.py
  specification/components/stu3/schemas/eRS-CreateAdvice-Request-Parameters.yaml
  specification/components/stu3/schemas/eRS-CreateAdvice-Response-Parameters.yaml
  specification/components/stu3/schemas/eRS-SendCommunicationToRequester-Request-Parameters.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice.yaml
  specification/components/stu3/schemas/parameters/Guidance.yaml
  specification/components/stu3/schemas/parameters/GuidanceAttachmentFile.yaml
  specification/components/stu3/schemas/parameters/ProviderConversionAuthorisation.yaml
  specification/components/stu3/schemas/responses/createAdvice/200Response.yaml
  specification/e-referrals-service-api.yaml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright, @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Added sandbox integration test for Create Advice endpoint]-[JW]
  sandbox/src/mocks/stu3/createAdvice/responses/ExampleAdvice.json
  tests/sandbox/conftest.py
  tests/sandbox/stu3/test_a044_create_advice.py
Owners: @NHSDigital/e-referrals

[ERSSUP-74034]-[]-[Updated Create Advice and Guidance endpoint to match implementation]-[JW]
  sandbox/Dockerfile
  sandbox/src/mocks/stu3/createAdviceAndGuidance/requests/ExampleAdviceAndGuidance.json
  sandbox/src/mocks/stu3/createAdviceAndGuidance/responses/ExampleAdviceAndGuidance.json
  sandbox/src/routes/index.js
  sandbox/src/routes/stu3/createAdviceAndGuidanceRequest.js
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/eRS-CreateAdviceAndGuidance-Request-Parameters.yaml
  specification/components/stu3/schemas/eRS-CreateAdviceAndGuidance-Response-Parameters.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
  specification/components/stu3/schemas/responses/createAdviceAndGuidance/200Response.yaml
  specification/e-referrals-service-api.yaml
  tests/sandbox/stu3/test_a044_create_advice_and_guidance_request.py
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright, @NHSDigital/e-referrals

[ERSSUP-74034]-[NS]-[Added initial draft specification for create advice endpoint]-[JW]
  sandbox/Dockerfile
  sandbox/Makefile
  sandbox/src/mocks/stu3/createAdviceAndGuidance/requests/ExampleAdviceAndGuidance.json
  sandbox/src/mocks/stu3/createAdviceAndGuidance/responses/ExampleAdviceAndGuidance.json
  sandbox/src/mocks/stu3/patientServiceSearch/requests/RcSearchForAdviceService.json
  sandbox/src/mocks/stu3/patientServiceSearch/responses/AdviceServiceSearch.json
  sandbox/src/mocks/stu3/patientServiceSearch/responses/FetchServiceListWithMultipleServices.json
  sandbox/src/routes/index.js
  sandbox/src/routes/stu3/createAdviceAndGuidanceRequest.js
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  scripts/validate_oas_examples.py
  specification/components/stu3/schemas/eRS-CreateAdviceAndGuidance-Request-Parameters.yaml
  specification/components/stu3/schemas/eRS-CreateAdviceAndGuidance-Response-Parameters.yaml
  specification/components/stu3/schemas/eRS-SendCommunicationToRequester-Request-Parameters.yaml
  specification/components/stu3/schemas/endpoints/a010-patient-service-search.yaml
  specification/components/stu3/schemas/endpoints/a044-create-advice-and-guidance-request.yaml
  specification/components/stu3/schemas/parameters/Guidance.yaml
  specification/components/stu3/schemas/parameters/GuidanceAttachmentFile.yaml
  specification/components/stu3/schemas/parameters/ProviderConversionAuthorisation.yaml
  specification/components/stu3/schemas/parameters/Request.yaml
  specification/components/stu3/schemas/parameters/RequestAttachmentFile.yaml
  specification/components/stu3/schemas/parameters/RequestType.yaml
  specification/components/stu3/schemas/responses/createAdviceAndGuidance/200Response.yaml
  specification/e-referrals-service-api.yaml
  tests/sandbox/conftest.py
  tests/sandbox/stu3/test_a010_patient_service_search.py
  tests/sandbox/stu3/test_a044_create_advice_and_guidance_request.py
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright, @NHSDigital/e-referrals

[ERSSUP-75911]-[]-[Adding support for user-restricted CIS2 access at AAL2]-[JW]
  manifest_template.yml
  proxies/live/apiproxy/policies/OAuthV2.VerifyAccessToken.xml
  tests/integration/test_headers.py
Owners: @NHSDigital/e-referrals

[ERSSUP-71237]-[JW]-[Added missing ReferralRequest.Specialty]-[NS]
  specification/components/stu3/schemas/eRS-ReferralRequest.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-71237]-[JW]-[Fixed lint issue]-[NS]
  specification/components/stu3/schemas/eRS-ReferralRequest.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-71237]-[JW]-[Added specialty to examples]-[NS]
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferral.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferralMixedShortlist.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferralMultipleServices.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequest.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequestMixedShortlist.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequestTwentyServices.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithMultipleDocumentReferences.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithSingleDocumentReference.json
  sandbox/src/mocks/stu3/maintainReferralLetter/responses/ReferralRequestWithUpdatedDocumentReferences.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/Unbooked.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithAdditionalRequirements.json
Owners: @NHSDigital/e-referrals

[ERSSUP-75911]-[]-[Added initial insufficient AAL test]-[JW]
  tests/integration/test_headers.py
Owners: @NHSDigital/e-referrals

[ERSSUP-75911]-[]-[Initial attempt at including aal level during authentication]-[JW]
  tests/conftest.py
  tests/integration/test_headers.py
Owners: @NHSDigital/e-referrals

[ERSSUP-73911]-[DW]-[Add new content to A008 regarding application-restricted access]-[AST]
  sandbox/src/mocks/stu3/retrieveWorklist/requests/FilteredByService.json
  sandbox/src/mocks/stu3/retrieveWorklist/responses/FilteredByService.json
  specification/components/stu3/schemas/eRS-FetchWorklist-Parameters.yaml
  specification/components/stu3/schemas/endpoints/a008-retrieve-worklist.yaml
  specification/components/stu3/schemas/parameters/ListType.yaml
  specification/components/stu3/schemas/responses/retrieveWorklist/200Response.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-74395]-[DW]-[Add support for referrer app restricted calls]-[AST]
  proxies/live/apiproxy/policies/AssignMessage.Set.nhsd-ers-business-function-header-app-restricted.xml
  tests/conftest.py
  tests/integration/test_app_restricted.py
Owners: @NHSDigital/e-referrals

[ERSSUP-73552]-[DW]-[Update doc around app-restricted for various endpoints]-[AST]
  specification/components/r4/schemas/endpoints/a033-retrieve-healthcare-service.yaml
  specification/components/r4/schemas/endpoints/a035-search-for-healthcare-services.yaml
  specification/components/r4/schemas/endpoints/a037-retrieve-healthcare-service-version.yaml
  specification/components/r4/schemas/headers/request/BusinessFunctionOnlyUserRestricted.yaml
  specification/components/r4/schemas/headers/request/OdsCodeOnlyUserRestricted.yaml
  specification/components/stu3/schemas/endpoints/a004-retrieve-reference-data.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/components/stu3/schemas/endpoints/a006-retrieve-attachment.yaml
  specification/components/stu3/schemas/endpoints/a007-retrieve-clinical-information.yaml
  specification/components/stu3/schemas/endpoints/a024-retrieve-advice-and-guidance.yaml
  specification/components/stu3/schemas/endpoints/a025-retrieve-advice-and-guidance-conversation.yaml
  specification/components/stu3/schemas/endpoints/a043-retrieve-advice-and-guidance-overview-pdf.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-76370]-[]-[Update pytest dependencies]-[DMW]
  poetry.lock
  pyproject.toml
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-72781]-[AST]-[Update specification for eReferralPathwayStart]-[DMW]
  sandbox/src/mocks/stu3/acceptReferral/responses/ExampleResponse.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleDBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleIBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferral.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferralMixedShortlist.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferralMultipleServices.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/createReferral/requests/MinimalRequest.json
  sandbox/src/mocks/stu3/createReferral/requests/RequestTwentyServices.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequest.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequestTwentyServices.json
  sandbox/src/mocks/stu3/createReferralAndSendForTriage/responses/ReferralRequest.json
  sandbox/src/mocks/stu3/createReferralAndSendForTriage/responses/ReferralRequestWithNamedClinician.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AcceptReferBookLater.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AttachmentIncluded.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/ReturnToReferrerWithAdvice.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseDbs.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedDBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedIBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/DeferredToProvider.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithAdditionalRequirements.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithRelatedReferral.json
  specification/components/stu3/schemas/eRS-CreateReferral-Parameters.yaml
  specification/components/stu3/schemas/eRS-ReferralRequest.yaml
  specification/components/stu3/schemas/extensions/Extension-eRS-eReferralPathwayStart.yaml
  specification/components/stu3/schemas/parameters/EReferralPathwayStart.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-72781]-[]-[Sandbox URL - Remove before merge]-[DMW]
  sandbox/src/mocks/stu3/acceptReferral/responses/ExampleResponse.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleDBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/MinimalExampleIBS.json
  sandbox/src/mocks/stu3/cancelAppointmentActionLater/responses/PriorityChangeAndWithAttachmentsDBS.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferral.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferralMixedShortlist.json
  sandbox/src/mocks/stu3/changeShortlist/responses/UnbookedReferralMultipleServices.json
  sandbox/src/mocks/stu3/changeShortlistAndSendForTriage/responses/MinimalRequest.json
  sandbox/src/mocks/stu3/createReferral/requests/MinimalRequest.json
  sandbox/src/mocks/stu3/createReferral/requests/MinimalRequestWithReferringClinician.json
  sandbox/src/mocks/stu3/createReferral/requests/RequestTwentyServices.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequest.json
  sandbox/src/mocks/stu3/createReferral/responses/ReferralRequestTwentyServices.json
  sandbox/src/mocks/stu3/createReferralAndSendForTriage/responses/ReferralRequest.json
  sandbox/src/mocks/stu3/createReferralAndSendForTriage/responses/ReferralRequestWithNamedClinician.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AcceptReferBookLater.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/AttachmentIncluded.json
  sandbox/src/mocks/stu3/recordTriageOutcome/responses/ReturnToReferrerWithAdvice.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseDbs.json
  sandbox/src/mocks/stu3/rejectReferral/responses/ExampleResponseIbs.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedDBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/BookedIBS.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/DeferredToProvider.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithAdditionalRequirements.json
  sandbox/src/mocks/stu3/retrieveReferralRequest/responses/WithRelatedReferral.json
  specification/components/stu3/schemas/extensions/Extension-eRS-eReferralPathwayStart.yaml
  specification/components/stu3/schemas/parameters/EReferralPathwayStart.yaml
  specification/e-referrals-service-api.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-76462]-[]-[UN013 - OAS Update to define Alternate Pathway Start Date]-[DMW]
  scripts/populate_placeholders.py
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request-versioned.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
Owners: @NHSDigital/e-referrals
