Repository NHSDigital/e-referrals-service-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @NHSDigital/e-referrals  will be requested for
# review when someone opens a pull request.

*  @NHSDigital/e-referrals

# For version files that are updated by dependabot we have a cut down list

/sandbox/Dockerfile @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/sandbox/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/package-lock.json @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.lock @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/poetry.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright
/pyproject.toml @nhsd-david-wass @adamoldfield-nhs @nhsd-jack-wainwright

[ERSSUP-78354]-[]-[Added healthcare worker suffix to proxy name parameter]-[JW]
  azure/templates/ers-integration-tests.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[More test parameter changes]-[JW]
  azure/templates/ers-integration-tests.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Added new cis2 aal3 scope to user restricted proxies-[JW]
  manifest_template.yml
  proxies/live/apiproxy/policies/OAuthV2.VerifyAccessToken.xml
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Fixed dictionary concatination]-[JW]
  tests/integration/test_headers.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Override for _create_test_app to append ASID to attribute list]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Altered create_test_app to no longer rely on client fixture]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Updated _create_test_app to rely on fixture rather than calling method directly]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Added debugging around create test add fixture]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Updated create test app to supply a list of dicts]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Fixed attributes for create_test_app fixture]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Fixed ASID attribute name]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Added initial app-restricted authentication support]-[JW]
  tests/conftest.py
  tests/decorators.py
  tests/integration/test_app_restricted.py
  tests/integration/test_headers.py
  tests/state.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Moved get_env to new utils.py to avoid cyclic dependency]-[JW]
  tests/conftest.py
  tests/state.py
  tests/utils.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Altered state default values to not be calculated on import]-[JW]
  tests/state.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Fixed type hint within state.app_attributes]-[JW]
  tests/state.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Swapped state functions away from using default parameters]-[JW]
  tests/state.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[More minor type hint fixes]-[JW]
  tests/decorators.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Swapped _create_test_app fixture to function scope]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-79314]-[]-[Update missing changes for Pathway start date - ERSSUP-76409]-[DMW]
  scripts/populate_placeholders.py
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request-versioned.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-79314]-[JW]-[Update missing changes for Pathway start date - ERSSUP-76409]-[DMW]
  scripts/populate_placeholders.py
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request-versioned.yaml
  specification/components/stu3/schemas/endpoints/a005-retrieve-referral-request.yaml
  specification/components/stu3/schemas/endpoints/a011-create-referral.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Swapped auth-type to use mark rather than custom state]-[JW]
  pyproject.toml
  tests/conftest.py
  tests/decorators.py
Owners: @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright, @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Swapped custom attributes to new _pre_authentication fixture]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Ensured pre authentication fixture is explicitly called]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Swapped _pre_authentication fixture to be invoked by _nhsd_apim_auth_token_data]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Swapped _pre_authentication fixture to use _create_test_app directly]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Altered _pre_authentication fixture to reset the modified app once the test has been executed]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Fixed app_restricted_access decorator]-[JW]
  tests/decorators.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Altered app_restricted_business_function to no longer be session scoped]-[JW]
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-78354]-[]-[Added force_new_token parameter]-[JW]
  tests/decorators.py
Owners: @NHSDigital/e-referrals

[ERSSUP-76349]-[JW]-[Update Cancellation Reason displays]-[NS]
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralIntendPrivateWithoutComment.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralPatientOther.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralRaisedInError.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralResolvedDeferralIntendPrivateWithComment.json
  sandbox/src/mocks/stu3/cancelReferral/responses/CancelledReferralWithCancelledBookingNoLongerRequired.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/AppointmentCancellationReasonCodeSystem.json
  sandbox/src/mocks/stu3/getCodeSystem/responses/ReferralCancellationReasonCodeSystem.json
  sandbox/src/mocks/stu3/retrieveWorklist/responses/AssessmentReturnedCancelledDna.json
  specification/components/stu3/schemas/CodeSystemConcept.yaml
  specification/components/stu3/schemas/eRS-CancelReferral-Request-Parameters.yaml
  specification/components/stu3/schemas/eRS-FetchWorklist-List.yaml
  specification/components/stu3/schemas/responses/cancelReferral/200Response.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-65392]-[SB]-[Scan file type with Tika in attachment validator lambda]-[FV]
  sandbox/src/routes/stu3/uploadFileToDocumentStore.js
  specification/components/stu3/schemas/file/FileContentTypeSchemaDownload.yaml
  specification/components/stu3/schemas/file/FileContentTypeSchemaUpload.yaml
  specification/components/stu3/schemas/headers/response/ContentTypeAttachmentsDownload.yaml
  tests/sandbox/stu3/test_a020_upload_attachment.py
Owners: @NHSDigital/e-referrals

[ERSSUP-77308]-[AT]-[Update STU3 Forbidden]-[iDMW]
  sandbox/src/mocks/stu3/STU3-Forbidden.json
  specification/components/stu3/schemas/responses/Forbidden.yaml
Owners: @NHSDigital/e-referrals

[ERSSUP-79594]-[ADO/NS]-[Added new Commissioning Rule Organisation parameter to patient service search]-[JW]
  sandbox/src/mocks/stu3/patientServiceSearch/requests/RcSearchWithCommissioningRuleOrganisation.json
  sandbox/src/routes/stu3/services/mockResponseProvider.js
  specification/components/stu3/schemas/eRS-PatientServiceSearch-Parameters.yaml
  specification/components/stu3/schemas/endpoints/a010-patient-service-search.yaml
  specification/components/stu3/schemas/parameters/CommissioningRuleOrganisation.yaml
  tests/sandbox/stu3/test_a010_patient_service_search.py
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[Update to look at master api-management-utils]-[DMW]
  azure/azure-build-pipeline.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[Upgrade to python 3.12]-[DMW]
  .github/workflows/continous-integration-workflow.yaml
  scripts/ubuntu_setup_environment.sh
  tests/conftest.py
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[trying 3.10]-[]
  .github/workflows/continous-integration-workflow.yaml
  azure/azure-pr-pipeline.yml
  azure/project.yml
  poetry.lock
  pyproject.toml
  scripts/ubuntu_setup_environment.sh
Owners: @NHSDigital/e-referrals, @nhsd-david-wass, @adamoldfield-nhs, @nhsd-jack-wainwright

[ERSSUP-76481]-[]-[Update python project variable]-[DMW]
  azure/azure-build-pipeline.yml
  azure/azure-pr-pipeline.yml
  azure/project.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[point at corresponding utils branch]-[DMW]
  azure/azure-build-pipeline.yml
  azure/azure-pr-pipeline.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[point at mster for all pipelines]-[DMW]
  azure/azure-pr-pipeline.yml
  azure/azure-release-pipeline.yml
Owners: @NHSDigital/e-referrals

[ERSSUP-76481]-[]-[Point at managementutils branch 76481 with default python]-[DMW]
  azure/azure-build-pipeline.yml
  azure/azure-pr-pipeline.yml
Owners: @NHSDigital/e-referrals
